

$body:16px;
$top_heading_desktop_h1:4.313rem;
$top_heading_desktop_h2:2.188rem;
$top_heading_desktop_h3:1.563rem;
$top_heading_desktop_p:1rem;
$top_heading_desktop_ul_li:1.125rem;
$top_heading_desktop_button:1rem;
$desktop-font:1.125rem;

// mobile 

$top_heading_mobile_h1:1.875rem;
$top_heading_desktop_h2:1.375rem;
$top_heading_desktop_h3:1.125rem;
$top_heading_desktop_p:0.875rem;
$top_heading_desktop_ul_li:0.875rem;
$top_heading_desktop_button:1.125rem;
$mobile-font:1rem;


// colors

$black:#000000;
$light_red:#D65228;
$dark_yellow:#F69625;
$light-pink:#d65128a6;
$secondary_pink :#FFD9CD;
$grey_black:#323232;
$white:#fff;
$greenc:#2CB2B4;
$black_c:#1A1C1A;

// font families

$rubik:'rubik';
$josifin:'josefin';
$inter:'inter';
$satisfy:'satisfy';


$custom_container:1440px;












