@import "variables";
@import "_mixins";
@import "_extends";
@import '@fortawesome/fontawesome-svg-core/styles.css';



@font-face {
    font-family: 'rubik';
    src: url('../fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'josefin';
    src: url('../fonts/josefin-sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}


body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero_section_inner {
    @extend %inner-section_max_width;
}

.hero_wrapper {
    @include grid-property(grid,70% 1fr,center,20px);
    
    .hero_right_section {
        @include grid-property(grid,1fr 1fr,center,20px,20px);
        .hero_destination_outer {
            position: relative;
            h1 {
            margin: 0px;
            font-size: 22px;
            text-align: center;
            background: $black;
            position: absolute;
            width: 100%;
            color: $white;
            font-family: $josifin;
            padding: 8px 0px;
            border-radius: 18px 0px 0px 0px;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
}

    .hero_left_section{
        h1 {
            font-size: 5.313rem;
            margin: 0px;
            font-family: $rubik;
        }
        p {
            font-family: $inter;
            font-weight: 500;
            font-size: $desktop-font;
            line-height: 28px;
        }
        button {
            border: unset;
            background: unset;
            padding: 18px 52px;
            border-radius: 24px;
            background: $primaryyellow;
            font-family: $inter;
            text-transform: capitalize;
            font-weight: 500;
            margin-top: 30px;
            color:$white;
            font-size: $desktop-font;
        }
    }
    
}

 
 


 







.tour_packages_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .tour_package{
        position: relative;

        img{
            width: 100%;
        }
        .tour_package_info {
            position: absolute;
            width: 100%;
            height: 100%;
            .tour_info_inner {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 10px;
                height: 100%;
            }
        }
    }
}