@import "variables";
@import "_mixins";
@import "_extends";

@import '@fortawesome/fontawesome-svg-core/styles.css';


p{
    font-size: $top_heading_desktop_p;
    margin:0px;
}
h1{
    font-size: $top_heading_desktop_h1;
}
h2{
    font-size: $top_heading_desktop_h2;
}
h3{
    font-size: $top_heading_desktop_h3;
}

ul li {
    font-size: $top_heading_desktop_ul_li;
}

a{
    font-size: 16px;
}



@font-face {
    font-family: 'rubik';
    src: url('../fonts/rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'josefin';
    src: url('../fonts/josefin-sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}


body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hero_section_inner,
.tourList_inner{
    @extend %inner-section_max_width;
}

.hero_wrapper {
    @include grid-property(grid,70% 1fr,center,20px);
    
    .hero_right_section {
        @include grid-property(grid,1fr 1fr,center,20px,20px);
        .hero_destination_outer {
            position: relative;
            h1 {
            margin: 0px;
            font-size: 22px;
            text-align: center;
            background: $black;
            position: absolute;
            width: 100%;
            color: $white;
            font-family: $josifin;
            padding: 10px 0px;
            border-radius: 18px 0px 0px 0px;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
}

    .hero_left_section{
        h1 {
            font-size: 5.313rem;
            margin: 0px;
            font-family: $rubik;
        }
        p {
            font-family: $inter;
            font-weight: 500;
            font-size: $desktop-font;
            line-height: 28px;
        }
        button {
            border: unset;
            background: unset;
            padding: 18px 52px;
            border-radius: 24px;
            background: $dark_yellow;
            font-family: $inter;
            text-transform: capitalize;
            font-weight: 500;
            margin-top: 30px;
            color:$white;
            font-size: $desktop-font;
        }
    }
    
}

 
 




  
.tour_packages_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 110px;
  
    .tour_package {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
  
      &.tour_image {
        width: 100%;
        height: 100%;
      }
  
      .tour_package_info {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.5);
        color: white;
  
        .tour_info_inner {
          display: grid;
          grid-template-columns: 1fr 1fr;
          height: 100%;
          padding: 20px;
  
          .tour_info_left {
            display: flex;
            flex-direction: column;
            justify-content: end;
  
            p {
              margin: 0;
              font-size: 1.2em;
              font-weight: bold;
              color: $light_red;
            }
  
            h2 {
              margin: 5px 0 0;
              font-size: 2em;
            }
          }
  
          .tour_info_right {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
  
            h4 {
              margin: 0;
              background: $primaryyellow;
              padding: 5px 10px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  
    .tour_package:nth-child(1),
    .tour_package:nth-child(3),
    .tour_package:nth-child(5),
    .tour_package:nth-child(6),
    .tour_package:nth-child(7) {
      height: 220px !important;
    }
  
    .tour_package:nth-child(2),
    .tour_package:nth-child(4) {
      height: 420px !important;
    }
  
    .tour_package:nth-child(1),
    .tour_package:nth-child(4) {
      grid-column: 1 / 2;
    }
  
    .tour_package:nth-child(2),
    .tour_package:nth-child(5) {
      grid-column: 2 / 3;
    }
  
    .tour_package:nth-child(3),
    .tour_package:nth-child(6),
    .tour_package:nth-child(7) {
      grid-column: 3 / 4;
    }
  }

  